# URL de Google Apps Script para guardar respuestas del formulario
NEXT_PUBLIC_SHEET_URL=https://script.google.com/macros/s/AKfycbw6btcMsIvFgz0-gCT6Nlh7qExBg3E41FItxfSKqWshN4Fp21Fmg5kLyVo2n9N05C7ueg/exec
