# URL de Google Apps Script para guardar respuestas del formulario
NEXT_PUBLIC_SHEET_URL=https://script.google.com/macros/s/AKfycbxS_hq_BUKUBJeTpRJZsR7mAW0I39JgMp5n2XmTyXpI9nvAhC8fRoXacSeQoC5yz2cq3w/exec
